<section id="reviews" class="b" style="background-image: url({{background}})">
  <div class="container">
    <div class="inner">
      <div class="leftSide">
        <h2>What Our <br> Customers Say</h2>
        <br/>
        <a href="https://g.page/WeeksServiceCo/review?rc" class="buttonstyle" target="_blank">Leave A Review</a>

      </div>
      <div class="rightSide">
        <div class="card">
          <p class="description">{{card_1_review}}</p>
          <p class="name">{{card_1_Name}}</p>
          <p><a href="/reviews/" class="buttonstyle">SEE MORE REVIEWS</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
