<section id="about-blurb" style="background: url({{svg}})">
  <div class="container">
    <div class="inner">
      <div class="content-left">
        <h2>{{title}}</h2>
        <div class="btn-row">
            <a href="#">Request Service <i class="fal fa-long-arrow-right"></i></a>
        </div>
      </div>
      <div class="content-right">
        <p>{{content}}</p>
        <p>{{contentSecond}}</p>
        <div class="btn-row">
          <a href="#">Continue Reading</a>
        </div>
      </div>
    </div>
  </div>
</section>
