<section id="calltoaction" style="background-image:url({{background}})">
    <div class="container">
        <div class="inner">
            <h2>{{text}}</h2>
            <div class="ctaButton">
                <a href="#" class="popupbtn">Schedule Service</a>
            </div>
        </div>
    </div>
</section>