<section id="reviewsPage">
    <div class="container">
        <div class="inner">
            <h2>What our customers have to say</h2>
            <hr>
            <div class="introtext">
                {{intro_blurb}}
            </div>

            <div class="reviewsWrap">
                {% for post in reviews %}
                    <div class="review">
                        <h4>{{post.title}}</h4>
                        <span class="reviewText">
                            <p>{{post.review_text}}</p>
                        </span>
                        <p class="reviewAuthor">{{post.review_author}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</section>
